{include file="common/static" /}
<div id="contextWrap">
    {include file="common/left" /}
</div>

<div class="pusher">
    <!--navbar-->
    {include file="common/header" /}
    <!--navbar-->
    <!--maincontent-->
    <div class="mainWrap navslide">
        <div class="ui equal width left aligned padded grid stackable tables">
            <!--Site Content-->
            <div class="row">
                <div class="sixteen wide column">
                    <div class="ui segments">
                        <div class="ui segment">
                            <h5 class="ui header"> 您现在的位置：首页/ -导航菜单列表 </h5>
                        </div>
                        <div class="ui segment">
                            <button class="ui blue button add_banner"><i class="write icon"></i>+添加幻灯片</button>
                            <table id="data_table" class="ui compact selectable striped celled table tablet stackable"
                                   cellspacing="0" width="100%">
                                <colgroup>
                                    <col width="1%">
                                    <col width="10%">
                                    <col width="5%">
                                    <col width="7%">
                                    <col width="7%">
                                    <col width="50%">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>顺序</th>
                                    <th>幻灯片名称</th>
                                    <th>幻灯片</th>
                                    <th>审核</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {foreach name="banner" item="vo" key="k" }
                                <tr>
                                    <td>{$vo.sort}</td>
                                    <td>{$vo.name}</td>
                                   <td style="width: 100px;">
                                       <a href="{$vo.banner}" target="_blank">
                                       <img src="{$vo.banner}" style="width: 15%"/>
                                       </a>
                                   </td>
                                    <td> {if condition="$vo.status eq 1" }
                                        <button class="ui green icon button  close-banner-status" data-id="{$vo.id}">审核通过</button>
                                        {else /}
                                        <button class="ui compact icon button  open-banner-status" data-id="{$vo.id}">未审核</button>
                                        {/if}
                                    </td>
                                    <td>
                                        <a href="{url('admin/admin/banner')}?point=update&id={$vo.id}">
                                            <button class="ui icon blue button" data-id="{$vo.id}"> 编辑</button>
                                        </a>
                                        <button class="ui icon red button  delete-banner" data-id="{$vo.id}"> 删除
                                        </button>
                                        <a href="{url('admin/admin/banner')}?point=update&id={$vo.id}">
                                            <button class="ui icon blue button" data-id="{$vo.id}"> 查看详情</button>
                                        </a>
                                    </td>
                                </tr>
                                {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--maincontent-->
</div>
{include file="common/footer" /}

<script>


    $(".select-img").on("click", function () {
        console.log(this)

    });

</script>