{include file="common/static" /}
<div id="contextWrap">
    {include file="common/left" /}
</div>
<!--sidebar-->
<div class="pusher">
    <!--navbar-->
    {include file="common/header" /}
    <!--navbar-->
    <!--maincontent-->
    <div class="mainWrap navslide">
        <div class="ui equal width left aligned padded grid stackable tables">
            <!--Site Content-->
            <div class="row">
                <div class="sixteen wide column">
                    <div class="ui segments">
                        <div class="ui segment">
                            <h5 class="ui header"> 您现在的位置：首页/ -分类列表 </h5>
                        </div>
                        <div class="ui segment">
                            <a href="{url('admin/admin/brand')}?do=add"><button class="ui blue button"><i class="write icon"></i>+添加商品分类</button></a>
                            <table id="data_table" class="ui compact selectable striped celled table tablet stackable"
                                   cellspacing="0" width="100%">
                                <colgroup>
                                    <col width="1%">
                                    <col width="5%">
                                    <col width="5%">
                                    <col width="2%">
                                    <col width="1%">
                                    <col width="10%">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>品牌名称</th>
                                    <th>图标</th>
                                    <th>审核</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {if !empty($brand)}
                                {foreach name="brand" item="vo" key="k" }
                                <tr>
                                    <td>{$vo.id}</td>
                                    <td>{$vo.name}</td>
                                    <td><a href="{$vo.icon}" target="_blank"><img src="{$vo.icon}" width="50px"/></a></td>
                                    <td style="overflow:visible;">
                                        {if $vo.status == 1}
                                        <a href="javascript:;"> <span class="ui green icon button  switch"
                                                                      data-switch-url="{url('admin/admin/brand')}"
                                                                      data-switch-value="2" data-id="{$vo.id}"
                                                                      data-field="status"
                                                                      data-do="_status">通过</span></a>
                                        {else}
                                        <a href="javascript:;"> <span class="ui compact icon button  switch"
                                                                      data-switch-url="{url('admin/admin/brand')}"
                                                                      data-switch-value="1" data-id="{$vo.id}"
                                                                      data-field="status"
                                                                      data-do="_status">未通过</span></a>
                                        {/if}
                                    </td>
                                    <td>
                                        <a href="<?php echo url('admin/admin/brand')?>?id={$vo.id}&do=add">
                                            <button class="ui icon blue button"> 编辑</button>
                                        </a>
                                        <button class="ui icon red button delete-brand" data-id="{$vo.id}"> 删除
                                        </button>
                                    </td>
                                </tr>
                                {/foreach}
                                {/if}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--maincontent-->
</div>
{include file="common/footer" /}
<script>

    $('#data_table').dataTable( {
        // 跟数组下标一样，第一列从0开始，这里表格初始化时，第四列默认降序
        "order":false,
    } );
</script>
