{include file="common/static" /}
<div id="contextWrap">
    {include file="common/left" /}
    </div>
    <!--sidebar-->
    <!--<div class="ui right sidebar">-->
        <!--<div class="ui pointing secondary two item tabular menu">-->
            <!--<a class="item active" data-tab="first"><i class="red icon ion-chatbox-working icon"></i></a>-->

            <!--<a class="item" data-tab="fourth"><i class="blue icon ion-gear-a"></i></a>-->
        <!--</div>-->
        <!--<div class="ui tab active" data-tab="first">-->
            <!--<div class="ui small feed">-->
                <!--<h4 class="ui header">Followers Activity</h4>-->
                <!--<div class="event">-->
                    <!--<div class="label">-->
                        <!--<img src="/static/img/Abraham.png" alt="label-image" />-->
                    <!--</div>-->
                    <!--<div class="content">-->
                        <!--<div class="date">-->
                            <!--3 days ago-->
                        <!--</div>-->
                        <!--<div class="summary">-->
                            <!--You added <a>Jenny Hess</a> to your <a>coworker</a> group.-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="event">-->
                    <!--<div class="label">-->
                        <!--<img src="/static/img/carol.png" alt="label-image" />-->
                    <!--</div>-->
                    <!--<div class="content">-->
                        <!--<div class="summary">-->
                            <!--You added <a>Jenny Hess</a> to your <a>coworker</a> group.-->
                            <!--<div class="date">-->
                                <!--3 days ago-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="event">-->
                    <!--<div class="label">-->
                        <!--<img src="/static/img/Daryl.png" alt="label-image" />-->
                    <!--</div>-->
                    <!--<div class="content">-->
                        <!--<div class="date">-->
                            <!--3 days ago-->
                        <!--</div>-->
                        <!--<div class="summary">-->
                            <!--You added <a>Jenny Hess</a> to your <a>coworker</a> group.-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="event">-->
                    <!--<div class="label">-->
                        <!--<img src="/static/img/deana.png" alt="label-image" />-->
                    <!--</div>-->
                    <!--<div class="content">-->
                        <!--<div class="summary">-->
                            <!--You added <a>Jenny Hess</a> to your <a>coworker</a> group.-->
                            <!--<div class="date">-->
                                <!--3 days ago-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="event">-->
                    <!--<div class="label">-->
                        <!--<img src="/static/img/enid.png" alt="label-image" />-->
                    <!--</div>-->
                    <!--<div class="content">-->
                        <!--<div class="date">-->
                            <!--3 days ago-->
                        <!--</div>-->
                        <!--<div class="summary">-->
                            <!--You added <a>Jenny Hess</a> to your <a>coworker</a> group.-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="event">-->
                    <!--<div class="label">-->
                        <!--<img src="/static/img/Glenn.png" alt="label-image" />-->
                    <!--</div>-->
                    <!--<div class="content">-->
                        <!--<div class="summary">-->
                            <!--You added <a>Jenny Hess</a> to your <a>coworker</a> group.-->
                            <!--<div class="date">-->
                                <!--3 days ago-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="event">-->
                    <!--<div class="label">-->
                        <!--<img src="/static/img/Hershell.png" alt="label-image">-->
                    <!--</div>-->
                    <!--<div class="content">-->
                        <!--<div class="date">-->
                            <!--3 days ago-->
                        <!--</div>-->
                        <!--<div class="summary">-->
                            <!--You added <a>Jenny Hess</a> to your <a>coworker</a> group.-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="event">-->
                    <!--<div class="label">-->
                        <!--<img src="/static/img/Hershell.png" alt="label-image" />-->
                    <!--</div>-->
                    <!--<div class="content">-->
                        <!--<div class="summary">-->
                            <!--You added <a>Jenny Hess</a> to your <a>coworker</a> group.-->
                            <!--<div class="date">-->
                                <!--3 days ago-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="event">-->
                    <!--<div class="label">-->
                        <!--<img src="/static/img/Meggie.png" alt="label-image" />-->
                    <!--</div>-->
                    <!--<div class="content">-->
                        <!--<div class="date">-->
                            <!--3 days ago-->
                        <!--</div>-->
                        <!--<div class="summary">-->
                            <!--You added <a>Jenny Hess</a> to your <a>coworker</a> group.-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="event">-->
                    <!--<div class="label">-->
                        <!--<img src="/static/img/Michonne.png" alt="label-image" />-->
                    <!--</div>-->
                    <!--<div class="content">-->
                        <!--<div class="summary">-->
                            <!--You added <a>Jenny Hess</a> to your <a>coworker</a> group.-->
                            <!--<div class="date">-->
                                <!--3 days ago-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="event">-->
                    <!--<div class="label">-->
                        <!--<img src="/static/img/Rick.png" alt="label-image" />-->
                    <!--</div>-->
                    <!--<div class="content">-->
                        <!--<div class="date">-->
                            <!--3 days ago-->
                        <!--</div>-->
                        <!--<div class="summary">-->
                            <!--You added <a>Jenny Hess</a> to your <a>coworker</a> group.-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="event">-->
                    <!--<div class="label">-->
                        <!--<img src="/static/img/Tara.png" alt="label-image" />-->
                    <!--</div>-->
                    <!--<div class="content">-->
                        <!--<div class="summary">-->
                            <!--You added <a>Jenny Hess</a> to your <a>coworker</a> group.-->
                            <!--<div class="date">-->
                                <!--3 days ago-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="ui tab" data-tab="fourth">-->
            <!--<div class="ui form fluid">-->
                <!--<div class="grouped fields">-->
                    <!--<label>Connection Limited</label>-->
                    <!--<div class="field">-->
                        <!--<div class="ui slider checkbox">-->
                            <!--<input type="radio" name="throughput" checked="checked">-->
                            <!--<label>20 mbps max</label>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="field">-->
                        <!--<div class="ui slider checkbox">-->
                            <!--<input type="radio" name="throughput">-->
                            <!--<label>10mbps max</label>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="field">-->
                        <!--<div class="ui slider checkbox">-->
                            <!--<input type="radio" name="throughput">-->
                            <!--<label>5mbps max</label>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="field">-->
                        <!--<div class="ui slider checkbox checked">-->
                            <!--<input type="radio" name="throughput">-->
                            <!--<label>Unmetered</label>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="ui divider"></div>-->
            <!--<div class="ui form fluid">-->
                <!--<div class="grouped fields">-->
                    <!--<label>Notifications</label>-->
                    <!--<div class="field">-->
                        <!--<div class="ui toggle checkbox">-->
                            <!--<input type="checkbox" checked name="public">-->
                            <!--<label class="coloring red">Enabled</label>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="field">-->
                        <!--<div class="ui toggle checkbox">-->
                            <!--<input type="checkbox" name="public">-->
                            <!--<label class="coloring green">Updates</label>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="field">-->
                        <!--<div class="ui toggle checkbox">-->
                            <!--<input type="checkbox" name="public">-->
                            <!--<label>Comments</label>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="field">-->
                        <!--<div class="ui toggle checkbox">-->
                            <!--<input type="checkbox" name="public">-->
                            <!--<label>Chat</label>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="ui divider"></div>-->

            <!--<h4 class="ui header">Navbar Color</h4>-->
            <!--<div class="ui basic segment">-->

                <!--<ul class="colorlist">-->
                    <!--<li>-->
                        <!--<a class="ui segment yellow inverted" data-addClass="inverted yellow">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment red inverted" data-addClass="inverted red">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment blue inverted" data-addClass="inverted blue">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment black inverted" data-addClass="inverted black">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment orange inverted" data-addClass="inverted orange">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment pink inverted" data-addClass="inverted pink">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment green inverted" data-addClass="inverted green">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment purple inverted" data-addClass="inverted purple">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment violet inverted" data-addClass="inverted violet">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment brown inverted" data-addClass="inverted brown">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment teal inverted" data-addClass="inverted teal">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment greenli inverted" data-addClass="inverted greenli">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment grey inverted" data-addClass="inverted grey">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment redli inverted" data-addClass="inverted redli">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment yellowli inverted" data-addClass="inverted yellowli">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment blueli inverted" data-addClass="inverted blueli">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment darkpurpleli inverted" data-addClass="inverted darkpurpleli">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment darkorangeli inverted" data-addClass="inverted darkorangeli">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment greenli2 inverted" data-addClass="inverted greenli2">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment pinkli inverted" data-addClass="inverted pinkli">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment lightyellowli inverted" data-addClass="inverted lightyellowli">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment darkli inverted" data-addClass="inverted darkli">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment lightbrownli inverted" data-addClass="inverted lightbrownli">-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<h4 class="ui header">Sidebar Color</h4>-->
            <!--<div class="ui basic segment">-->

                <!--<ul class="sidecolor">-->
                    <!--<li>-->
                        <!--<a class="ui segment yellow inverted" data-addClass="inverted yellow">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment red inverted" data-addClass="inverted red">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment blue inverted" data-addClass="inverted blue">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment black inverted" data-addClass="inverted black">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment orange inverted" data-addClass="inverted orange">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment pink inverted" data-addClass="inverted pink">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment green inverted" data-addClass="inverted green">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment purple inverted" data-addClass="inverted purple">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment violet inverted" data-addClass="inverted violet">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment brown inverted" data-addClass="inverted brown">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment teal inverted" data-addClass="inverted teal">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment greenli inverted" data-addClass="inverted greenli">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment grey inverted" data-addClass="inverted grey">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment redli inverted" data-addClass="inverted redli">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment yellowli inverted" data-addClass="inverted yellowli">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment blueli inverted" data-addClass="inverted blueli">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment darkpurpleli inverted" data-addClass="inverted darkpurpleli">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment darkorangeli inverted" data-addClass="inverted darkorangeli">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment greenli2 inverted" data-addClass="inverted greenli2">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment pinkli inverted" data-addClass="inverted pinkli">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment lightyellowli inverted" data-addClass="inverted lightyellowli">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment darkli inverted" data-addClass="inverted darkli">-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="ui segment lightbrownli inverted" data-addClass="inverted lightbrownli">-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="pusher">
        <!--navbar-->
        {include file="common/header" /}
        <!--navbar-->
        <!--maincontent-->
        <div class="mainWrap navslide" >
            <div class="ui equal width left aligned padded grid stackable tables">
                <!--Site Content-->
                <div class="row">
                    <div class="sixteen wide column">
                        <div class="ui segments">
                            <div class="ui segment">
                                <h5 class="ui header"> 您现在的位置：首页/ -用户留言列表  </h5>
                            </div>
                            <div class="ui segment">
                                <table id="data_table" class="ui compact selectable striped celled table tablet stackable" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>编号</th>
                                        <th>用户名称</th>
                                        <th>用户电话</th>
                                        <th>用户邮箱</th>
                                        <th>用户地址</th>
                                        <th>用户留言</th>
                                        <th>留言时间</th>
                                        <th>用户IP</th>
                                        <th>审核状态</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {foreach name="consult" item="vo" key="k" }
                                    <tr>
                                        <td >{$vo.id}</td>
                                        <td>{$vo.user_name}</td>
                                        <td>
                                            {$vo.user_tel}
                                        </td>
                                        <td>{$vo.user_email}</td>
                                        <td>{$vo.user_address}</td>
                                        <td>{$vo.user_message}</td>
                                        <td>{$vo.time}</td>
                                        <td>{$vo.ip}</td>
                                        <td>{$vo.status}</td>
                                        <td>
                                            <a href="{url('admin/admin/banner')}?point=update&id={$vo.id}"><button class="ui icon blue button" data-id="{$vo.id}"> 编辑</button></a>
                                            <button class="ui icon red button  delete-banner" data-id="{$vo.id}"> 删除</button>
                                        </td>
                                    </tr>
                                    {/foreach}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--maincontent-->
    </div>
{include file="common/footer" /}

<script>


    $(".select-img").on("click", function () {
       console.log(this)

    });

</script>