<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="php5" />
            <remove name="php5.2" />
            <remove name="php5.6" />
            <remove name="php" />
            <add name="php5.6" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="E:\web_server\php5.6\php\php-cgi.exe" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <defaultDocument>
            <files>
                <remove value="Default.asp" />
                <remove value="Default.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
