<div class="navslide navwrap">
    <div class="ui menu icon borderless grid" data-color="inverted white">
        <a class="item labeled openbtn">
            <i class="ion-navicon-round big icon"></i>
        </a>
        <a class="item labeled expandit" onclick="toggleFullScreen(document.body)">
            <i class="ion-arrow-expand big icon"></i>
        </a>
        <a class="item" id="clean_cache">
        <button class="compact ui button">
            清除缓存
        </button>
        </a>
        <!--<div class="item ui colhidden">-->
            <!--<div class="ui icon input">-->
                <!--<input type="text" placeholder="Search...">-->
                <!--<i class="search icon"></i>-->
            <!--</div>-->
        <!--</div>-->
        <div class="right menu colhidden inverted purple">
            <div class="ui dropdown item" tabindex="0">
                <img class="ui mini circular image" src="http://www.mycodes.net/upload_files/article/192/1_20190103150151_38add.jpg">
            </div>
            <a class="item" style="float: right; color: #9a9a9a;" href="<?php echo url('admin/logout')?>" >
                退出
            </a>
        </div>
    </div>
</div>