<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Template - Dashboard</title>
    <link rel="icon" href="/static/icon/favicon.ico" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name=viewport content="width=device-width, initial-scale=1" />
    <link href="/static/css/style.css" rel="stylesheet" />
    <link href="/static/css/semantic.min.css" rel="stylesheet" />
    <link href="/static/css/ionicons.min.css" rel="stylesheet" />
    <link href="/static/css/main.css" rel="stylesheet" />
    <link href="/static/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="/static/css/weather-icons-wind.min.css" rel="stylesheet" />
    <link href="/static/css/weather-icons.min.css" rel="stylesheet" />
    <link href="/static/css/chartist.min.css" rel="stylesheet" />
    <link href="/static/css/chat-page.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/static/icon/favicon.ico" />
    <link href="/static/css/jquery.searchableSelect.css" rel="stylesheet" type="text/css">
    <!--引入CSS-->
    <link rel="stylesheet" type="text/css" href="/static/css/webuploader.css">
</head>
<body>